#form input[type="checkbox"]{
      display:none;
  }

#form span{
      display: inline-block;
      font-size: 1.2em;
      text-transform: uppercase;
      padding: 10px;
      border :  black solid 2px;
      border-radius: 5px;
      color: black;
      margin-right: 40px;
      margin-bottom: 20px;
      text-align: center;
      width: 170px;

  }

#form input[type ="checkbox"]:checked + span{
      background-color:lightseagreen;
      color : black
  }

button {
  background-color: #da2828; 
  border: black solid 2px;
  color: white;
  display: inline-block;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  text-align: center;
}

fieldset {
   border:0 none;
}

h1{
    color: rgb(61, 182, 223);
    text-align: center;
    font-size: 400%;
    font-family: 'Courier New', Courier, monospace;
}

p{
    font-size: x-large;
    text-align: center;
}

h2{
    color: rgb(77, 198, 238);
    font-size: 220%;
    margin-top: 5px;
}

.submit{
    margin: auto;
    text-align: center;
}

#center {
    text-align: center;
}