<!DOCTYPE html>
<head>
<link rel="stylesheet" href="/static/css/design.css">
<title>Results</title>
</head>

<body>

<h1>No Result Found</h1>

<p>There is no game that fits that criteria in our database. Please search again.</p>

<br />
<br />
<br />


<form id ="return" name ="return" action = "/" method="GET">

<div class = "submit">
<input type="submit" class ="button" value="Search Again">
</div>

</form>

</body>
</html>

