<!DOCTYPE html>
<head>
<link rel="stylesheet" href="/static/css/design.css">
<title>Error</title>
</head>

<body>

<p> Error - Please select at least one option from each category. </p>

<br />

<form id ="return" name ="return" action = "/" method="GET">

<div class = "submit">
<input type="submit" class ="button" value="Click here to go back">
</div>

</form>

</body>
</html>

