<!DOCTYPE html>
<head>
    <meta charset="utf-8">
     <link rel="stylesheet" href="/static/css/design.css">
    <title>Co-op Game Generator</title>
</head>

<body>

<h1>Co-Op Game Generator</h1>

<p>This website will generate a random co-op game for you. Please select the options below to filter the results.</p>

<h2>Console:</h2>

<form id ="games" name ="games" action = "/games" method="POST">

<fieldset id="form">
<div class = "checkbox_console">

    <label><input type = "checkbox" name="console[]" value = "1"><span>PC</span></label> 
    <label><input type = "checkbox" name="console[]" value = "2"><span>PS4</span></label> 
    <label><input type = "checkbox" name="console[]"  value = "3"><span>SWITCH</span></label> 
    <label><input type = "checkbox" name="console[]" value = "4"><span>PS5</span></label> 
    <label><input type = "checkbox" name="console[]" value = "5"><span>XBOX 360</span></label> 
    <label><input type = "checkbox" name="console[]"  value = "6"><span>XBOX SERIES S</span></label> 
    <label><input type = "checkbox" name="console[]" value = "7"><span>XBOX SERIES X</span></label> 

</div>
</fieldset>

<h2>Type of Co-Op:</h2>

<fieldset id="form">
<div class = "checkbox_type">

    <label><input type = "checkbox" name="type[]" value = "1"><span>LOCAL</span></label> 
    <label><input type = "checkbox" name="type[]"  value = "2"><span>ONLINE</span></label> 

</div>
</fieldset>

<h2>Genre:</h2>

<fieldset id="form">
<div class = "checkbox_genre">

    <label><input type = "checkbox" name="genre[]" value = "1"><span>ACTION</span></label> 
    <label><input type = "checkbox" name="genre[]" value = "2"><span>MYSTERY</span></label> 
    <label><input type = "checkbox" name="genre[]" value = "3"><span>HORROR</span></label> 
    <label><input type = "checkbox" name="genre[]" value = "4"><span>ANIME</span></label> 
    <label><input type = "checkbox" name="genre[]" value = "5"><span>SHOOTING</span></label> 
    <label><input type = "checkbox" name="genre[]" value = "6"><span>ADVENTURE</span></label> 
    <label><input type = "checkbox" name="genre[]" value = "7"><span>PUZZLE</span></label> 
    <label><input type = "checkbox" name="genre[]" value = "8"><span>CRIME</span></label> 
    <label><input type = "checkbox" name="genre[]" value = "9"><span>FANTASY</span></label> 
    <label><input type = "checkbox" name="genre[]" value = "10"><span>CHILDREN</span></label> 
    <label><input type = "checkbox" name="genre[]" value = "11"><span>BOARD GAME</span></label> 
    <label><input type = "checkbox" name="genre[]" value = "12"><span>LEARNING</span></label> 

</div>    
</fieldset>

<br />
<br />
<div class = "submit">
<input type="submit" class ="button" value="Submit">
</div>
</form>

</body>

</html>