body{
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(229,243,244,1) 85%, rgba(146,232,250,1) 100%);  
}

/* For the select boxes on the index page*/

#form input[type="radio"]{
      display:none;
  }

#form span{
      display: inline-block;
      font-size: 1.2em;
      text-transform: uppercase;
      padding: 10px;
      border :  black solid 2px;
      border-radius: 5px;
      color: black;
      margin-right: 40px;
      margin-bottom: 20px;
      text-align: center;
      width: 170px;

  }

#form input[type ="radio"]:checked + span{
      background-color:lightseagreen;
      color : black
  }

.button {
    background-color: #da2828; 
    border: black solid 2px;
    color: white;
    display: inline-block;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    text-align: center;
  }


fieldset {
   border:0 none;
}

h1{
    color: rgb(61, 182, 223);
    text-align: center;
    font-size: 400%;
    font-family: 'Courier New', Courier, monospace;
}

p{
    font-size: x-large;
    text-align: center;
}

h2{
    color: rgb(7, 79, 104);
    font-size: 220%;
    margin-top: 5px;
}

a:link, a:visited {
    background-color: #5a58db;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: rgb(157, 177, 245);
  }

.submit{
    margin: auto;
    text-align: center;
}

#center {
    text-align: center;
}